<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<b>
    <f:translate
        key="LLL:EXT:chatbots/Resources/Private/Language/Backend/locallang_mod_overview.xlf:existing_models"/>
</b>
<br/>
<br/>

<table class="table">
    <tr>
        <th>
            <f:translate
                key="LLL:EXT:chatbots/Resources/Private/Language/Backend/locallang_mod.xlf:name"/>
        </th>
        <th></th>
        <th></th>
    </tr>
    <f:for each="{trainedModels}" as="trainedModel">
        <tr>
            <td>
                {trainedModel.model}
                <f:if condition="{trainedModel.tags}">
                    <f:translate
                        key="LLL:EXT:chatbots/Resources/Private/Language/Backend/locallang_mod_overview.xlf:active"/>
                </f:if>
            </td>
            <td class="small">
                <f:if condition="!{trainedModel.tags}">
                    <f:link.action action="activateModel" arguments="{modelName: '{trainedModel.model}'}">
                        <f:translate
                            key="LLL:EXT:chatbots/Resources/Private/Language/Backend/locallang_mod_overview.xlf:activate"/>
                    </f:link.action>
                </f:if>
            </td>
            <td class="small">
                <f:if condition="!{trainedModel.tags}">
                    <f:link.action action="deleteModel" arguments="{modelName: '{trainedModel.model}'}">
                        <f:translate
                            key="LLL:EXT:chatbots/Resources/Private/Language/Backend/locallang_mod.xlf:delete"/>
                    </f:link.action>

                </f:if>
            </td>
        </tr>
    </f:for>
</table>
</html>
