<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="col-md-4">
    <div class="card">
        <div
            class="card-body {f:if(condition: '{healthCheck.status} == 200 || {healthCheck.status} == completed', then: 'bg-success', else: 'bg-danger')}">
            <div class="card-text">
                <h1 style="color: white">
                    {heading}
                    <span class="pull-right label">
                        <f:if condition="{healthCheck.status} == 200 || {healthCheck.status} == completed">
                            <f:then><f:translate
                                key="LLL:EXT:chatbots/Resources/Private/Language/Backend/locallang_mod_overview.xlf:online"/></f:then>
                            <f:else><f:translate
                                key="LLL:EXT:chatbots/Resources/Private/Language/Backend/locallang_mod_overview.xlf:offline"/></f:else>
                        </f:if>
                    </span>
                </h1>
                <div class="pull-right">
                    <f:if condition="{healthCheck.version}">
                        <f:then>
                            <span class="badge">{healthCheck.version}</span>
                        </f:then>
                        <f:else>
                            <span class="badge"><f:translate
                                key="LLL:EXT:chatbots/Resources/Private/Language/Backend/locallang_mod_overview.xlf:no_version"/></span>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
