<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">

    <h1><f:translate key="LLL:EXT:chatbot_rasa/Resources/Private/Language/Backend/locallang_mod_configuration.xlf:mlang_tabs_tab" /></h1>

    <div id="form">
        <f:form action="save" method="post">
            <div class="form-group">
                <label for="rasaUrl" id="rasaUrlLabel">
                    <f:translate key="LLL:EXT:chatbot_rasa/Resources/Private/Language/Backend/locallang_mod_configuration.xlf:rasa_url"/>:
                </label>
                <f:form.textfield class="form-control" id="rasaUrl" name="rasaUrl" value="{rasaUrl}"/>
            </div>
            <div class="form-group">
                <label for="rasaUsername" id="rasaUsernameLabel">
                    <f:translate key="LLL:EXT:chatbot_rasa/Resources/Private/Language/Backend/locallang_mod_configuration.xlf:rasa_username"/>:
                </label>
                <f:form.textfield class="form-control" id="rasaUsername" name="rasaUsername" value="{rasaUsername}"/>
            </div>
            <div class="form-group">
                <label for="rasaPassword" id="rasaPasswordLabel">
                    <f:translate key="LLL:EXT:chatbot_rasa/Resources/Private/Language/Backend/locallang_mod_configuration.xlf:rasa_password"/>:
                </label>
                <f:form.password class="form-control" id="rasaPassword" name="rasaPassword" value="{rasaPassword}"/>
            </div>
            <f:form.button class="btn btn-success">
                <f:translate
                    key="LLL:EXT:chatbot_rasa/Resources/Private/Language/Backend/locallang_mod.xlf:submit"/>
            </f:form.button>
        </f:form>
</f:section>

</html>
