#startChatButton {
    position: fixed;
    bottom: 16px;
    left: 16px;
    z-index: 10;
}

.chatbot_rasa.chat.hidden {
    display: none !important;
}

.chatbot_rasa.chat {
    position: fixed;
    bottom: 16px;
    left: 16px;
    z-index: 10;
    width: 25%;
    height: 50%;
    background-color: white;
    filter: drop-shadow(0 0 10px rgba(0, 30, 55, .15));
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

@media only screen and (max-width: 1400px) {
    .chatbot_rasa.chat {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .chatbot_rasa.chat {
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #startChatButton {
        left: 0;
        width: 100%;
    }

}

#chatbotInputDiv {
    position: absolute;
    width: auto;
    bottom: 6px;
    left: 6px;
    right: 6px;
}

#chatbotChatHeader {
    display: inline-block;
    position: absolute;
    top: 6px;
    width: 100%;
}

#chatbotChatHeader > a {
    margin-right: 6px;
    float: right
}

#closeChatButton {
    font-size: 24px;
}

#chatbotInputDiv > button {
    float: right
}

#chatbotInputDiv > div {
    overflow: hidden;
    padding-right: .5em;
}

#chatbotInputDiv > div > input {
    width: 100%;
}

#messages {
    height: 100%;
    overflow: auto;
    max-height: 100vh;
    padding: 6px;
}

.message {
    border: solid 1px black;
    border-radius: 10px;
    width: 51%;
    padding: 6px;
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

.message-right {
    float: right;
}

.message-left {
    float: left;
}

.message > ul > li {
    text-decoration: underline;
}

.message > ul > li:before {
    content: "\2022";
    font-size: 1.0em;
    display: inline-block;
    text-decoration: none;
    margin-right: 6px;
}
